@charset "utf-8";
body {
	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.box0{
	position:absolute;
	left:80px;
	top:390px;
}
#focus {
	position:absolute;
	left:80px;
	top:390px;
	background-image: url(../images/icons.png);
	background-position: -500px -250px;
}
#pursue {
	position:absolute;
	left:238px;
	top:228px;
	background-image: url(../images/icons.png);
	background-position: -250px 0px;
}
#build {
	position:absolute;
	left:400px;
	top:140px;
	background-image: url(../images/icons.png);	
}
#establish{
	position:absolute;
	left:400px;
	top:305px;
	background-image: url(../images/icons.png);
	background-position: 0px -500px;
}
#discover{
	position:absolute;
	left:564px;
	top:420px;
	background-image: url(../images/icons.png);
	background-position: -500px -500px;
}
#knowledge{
	position:absolute;
	left:725px;
	top:390px;
	background-image: url(../images/icons.png);
	background-position: -250px -500px;
}
#deliver{
	position:absolute;
	left:725px;
	top:230px;
	background-image: url(../images/icons.png);
	background-position: -250px -250px;
}
#utilize{
	position:absolute;
	left:564px;
	top:65px;
	background-image: url(../images/icons.png);
	background-position: -500px -0px;
}
#bring{
	position:absolute;
	left:400px;
	top:470px;
	background-image: url(../images/icons.png);
	background-position: 0px -250px;
}
#container {
	position: absolute;
	width: 1024px;
	height: 768px;
	margin: 0;
	left: 500px;
	border: 1px solid #333;
	padding: 0px;
	overflow:hidden;
}
.mainIcon {
	position:relative;
	z-index:5;
	width:250px;
	height:250px;
	background-repeat: no-repeat;
	clip:rect(auto, auto, auto, auto);
}
.iconText {
    padding-top:150px;
	padding-left:5px;
	width: 250px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}
.iconTextOvr {
    background-image: url(../images/ovr.png);	
}
#focusContent{
}

#next{
	position:absolute;
	z-index:50;
	top:290px;
	bottom:0px;
	width:60px;
	height:180px;
	left:-30px;
	background-color:#333;
	border-radius: 15px;
}

#menu{
	z-index: 50;
	position: absolute;
	width: 80px;
	height: 50px;
	left: 470px;
	background-color: #666;
	border-radius: 15px;
	padding: 10px;
	bottom: -30px;
	text-align: center;
}

#back{
	position:absolute;
	z-index:50;
	top:290px;
	left:990px;
	width:60px;
	height:180px;
	background-color:#333;
	border-radius: 15px;
}

.contentSlides {
	left:1024px;
	position:absolute;
	z-index:1;
	width:1024px;
	height:676px;	
	top:50px;
}
.contentSlides h1 {
	position:absolute;
	left:10px;
	width:744px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: lighter;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.contentSlides h2 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: lighter;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.leftColumn{
	position:absolute;
	left:56px;
	top:278px;
	width:188px;
	height:376px;	
}
.rightColumn{
	position:absolute;
	left:252px;
	top:0px;
	width:724px;
	height:676px;
}
#ftr {
	position: absolute;
	width: 100%;
	height: 50px;
	background-image: url(../images/ftr.jpg);
	background-repeat: no-repeat;
	bottom: 0px;
	background-color: #1a1a1a;
}
#advantageTitle {
	position: absolute;
	width:520px;
	top:300px;
}
#advantageText {
	position: absolute;
	width:420px;
	height:45px;
	top:20px;
}

#spark {
	position: absolute;
	width:50px;
	height:50px;
	left:420px;
}
#slidenumbers{
	position: absolute;
	bottom:12px;
	left:650px;
	color:#666;
}

.supportingBox {
	position:absolute;	
	left:500px;
	top:300px;
	width:150px;
	height:150px;
	background-color: #fff;
	
	}